<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nscc-0478676-function-tickethub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/408b39cd-d43b-4381-be81-dd677773b068/resourceGroups/Development/providers/Microsoft.Web/sites/nscc-0478676-function-tickethub</ResourceId>
    <PublishUrl>https://nscc-0478676-function-tickethub.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>